<% content_for :headers do %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'messages' %>
<% end %>
<div class="container">
  <h1 class="center">Get in touch!</h1>
  <br class="spacer-sm"/>
  <p class="center">
    If you would like to get in touch feel free to fill the form about<br/>down below and I'll be in touch shortly!
  </p>
  <br class="spacer-sm"/>
  <%= form_for :message, :url => {:action => :create}, :html => {:class => 'contact grid'} do |contact_form| %>
      <fieldset class="half">
        <%= contact_form.label(:name, 'Your name') %>
        <%= contact_form.text_field(:name) %>
        <%= contact_form.label(:email, 'Your email') %>
        <%= contact_form.text_field(:email) %>
      </fieldset>
      <fieldset class="half">
        <%= contact_form.label(:message, 'Message') %>
        <%= contact_form.text_area(:message) %>
      </fieldset>
      <div class="full center after-errors">
        <button class="submit button">
          <span>Send your message</span>
          <img src="<%= image_url('loading.png') %>"/>
        </button>
      </div>
  <% end %>
</div>