<% content_for :headers do %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'skills' %>
<% end %>
<div class="container">
  <h1 class="center">Skills</h1>
  <% if logged_in %>
      <a class="new-skill button" href="<%= url_for :action => :new %>">
        New Skill
      </a>
  <% end %>
  <br class="spacer-sm"/>
  <p class="center">
    Here is a list of skills I have learnt over the years while developing websites and software. The majority of my knowledge<br/>
    in these skills have been self taught through books, videos, websites and from the help of mentors. I have assessed and given each
    skill a score from 0 to 100 depending on how competent I feel and how much I enjoy it.<br/>
  </p>
  <br class="spacer-sm"/>
  <div class="skills grid">
    <% @skills.each do |skill| %>
        <section class="third">
          <h2 style="color: <%= skill.color %>"><%= skill.name %></h2>
          <p><%= skill.summary %></p>
          <a class="button" href="<%= url_for :action => :show, :id => skill.id %>">More
            Info
          </a>
        </section>
    <% end %>
  </div>
</div>