<div class='container'>
  <h1>New Skill</h1>
  <br class='spacer-sm'/>
  <% if @errors %>
      <p class="errors">
        <% @errors.full_messages.each do |error| %>
            <%= error %><br/>
        <% end %>
      </p>
  <% end %>
  <%= form_for :skill, :url => {:action => :create}, :html => {:class => 'medium'} do |skill_form| %>
      <%= skill_form.label(:name, 'Name') %>
      <%= skill_form.text_field(:name) %>
      <%= skill_form.label(:color, 'Color') %>
      <%= skill_form.text_field(:color) %>
      <%= skill_form.label(:summary, 'Summary') %>
      <%= skill_form.text_area(:summary) %>
      <%= skill_form.label(:content, 'Content') %>
      <%= skill_form.text_area(:content) %>
      <%= skill_form.submit('Create Skill', :class => 'button') %>
  <% end %>
</div>