<div class='container'>
  <h1>New Skill</h1>
  <br class='spacer-sm'/>
  <% if @errors %>
      <p class="errors">
        <% @errors.full_messages.each do |error| %>
          <%= error %><br/>
        <% end %>
      </p>
  <% end %>
  <%= form_for :skill, :url => {:action => :create}, :html => {class: 'medium'} do |topic_form| %>
      <%= topic_form.label(:name, 'Name') %>
      <%= topic_form.text_field(:name) %>
      <%= topic_form.label(:color, 'Color') %>
      <%= topic_form.text_field(:color) %>
      <%= topic_form.label(:summary, 'Summary') %>
      <%= topic_form.text_area(:summary) %>
      <%= topic_form.label(:content, 'Content') %>
      <%= topic_form.text_area(:content) %>
      <%= topic_form.label(:knowledge, 'Knowledge') %>
      <%= topic_form.number_field(:knowledge) %>
      <%= topic_form.submit('Create Skill', :class => 'button') %>
  <% end %>
</div>