<div class='container'>
  <h1>Edit <%= @project.name %> Project</h1>
  <br class='spacer-sm'/>
  <% if @errors %>
      <p class="errors">
        <% @errors.full_messages.each do |error| %>
            <%= error %><br/>
        <% end %>
      </p>
  <% end %>
  <%= form_for :project, :method => 'put', :url => {:action => :update}, :html => {class: 'medium'} do |project_form| %>
      <%= project_form.label(:name, 'Name') %>
      <%= project_form.text_field(:name) %>
      <%= project_form.label(:name, 'Github Link') %>
      <%= project_form.text_field(:github_link) %>
      <%= project_form.label(:summary, 'Summary') %>
      <%= project_form.text_area(:summary) %>
      <%= project_form.label(:content, 'Content') %>
      <%= project_form.text_area(:content) %>
      <%= project_form.label(:image, 'Image') %>
      <%= project_form.file_field :image %>
      <%= project_form.check_box(:visible) %>
      <%= project_form.label(:visible, "Publically visible") %>
      <%= project_form.submit('Update Project', :class => 'button') %>
  <% end %>
</div>