<% content_for :headers do %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'projects' %>
<% end %>
<div class="container">
  <h1 class="center">Projects</h1>
  <% if logged_in %>
      <a class="new-project button" href="<%= url_for :action => :new %>">
        New Project
      </a>
  <% end %>
  <br class="spacer-sm"/>
  <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur massa purus, congue condimentum risus in, rutrum
    sodales est. Morbi non est varius metus dapibus ullamcorper.
    Vestibulum massa orci, dictum sit amet nulla non,
    fringilla rutrum nulla. Vestibulum gravida libero at mi auctor,
    eu auctor sapien dictum.
  </p>
  <br class="spacer-sm"/>
  <div class="projects">
    <% @projects.each do |project| %>
      <section class="project">
        <% if @projects.index(project) % 2 === 0 %>
            <div class="image">
              <img src="<%= project.image %>"/>
            </div>
            <div class="summary">
              <div class="position">
                <h2><%= project.name %></h2>
                <p><%= project.summary %></p>
                <a class="button" href="<%= url_for :action => :show, :id => project.id %>">
                  More Info
                </a>
              </div>
            </div>
        <% else %>
            <div class="summary">
              <div class="position">
                <h2><%= project.name %></h2>
                <p><%= project.summary %></p>
                <a class="button" href="<%= url_for :action => :show, :id => project.id %>">
                  More Info
                </a>
              </div>
            </div>
            <div class="image">
              <img src="<%= project.image %>"/>
            </div>
        <% end %>
      </section>
    <% end %>
  </div>
</div>