<div class="container">
	<h1 class="center">Projects</h1>
	<% if logged_in %>
		<a class="new-project button" href="<%= url_for :action => :new %>">
			New Project
		</a>
	<% end %>
	<br class="spacer-sm"/>
	<p class="center">
		Here is a list of projects I have created and contributed to. Most of them are open source<br>
		and you can find the projects on my <a target="_blank" href="https://github.com/frazboyz">Github</a>.
	</p>
	<br class="spacer-sm"/>
	<div class="projects">
		<% @projects.each do |project| %>
			<section class="project">
				<!-- Modulus 2 to determine whether a project is even/odd -->
				<% if @projects.index(project) % 2 === 0 %>
					<div class="image">
						<img src="<%= project.image.url %>"/>
					</div>
					<div class="summary">
						<div class="position">
							<h2><%= project.name %></h2>
							<p><%= project.summary %></p>
							<a class="button" href="<%= url_for :action => :show, :id => project.id %>">
								More Info
							</a>
						</div>
					</div>
				<% else %>
					<div class="summary">
						<div class="position">
							<h2><%= project.name %></h2>
							<p><%= project.summary %></p>
							<a class="button" href="<%= url_for :action => :show, :id => project.id %>">
								More Info
							</a>
						</div>
					</div>
					<div class="image">
						<img src="<%= project.image.url %>"/>
					</div>
				<% end %>
			</section>
		<% end %>
	</div>
</div>