<% content_for :headers do %>
    <%= javascript_include_tag 'jquery' %>
<% end %>
<div class="container">
  <h1 class="huge center">Hello World!<span>Its very quid pro quo, you hire me and I'll make awesome stuff.</span></h1>
</div>
<div class="young-background">
  <div class="container">
    <p class="center padded">Were do i start? Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Duis vel nisi eu nisi placerat venenatis vitae at sapien. Mauris rutrum risus sapien,
      eu efficitur lacus bibendum nec. Cum sociis natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Nulla dignissim sem ut lacus vulputate, in porttitor
      odio porta. Nulla faucibus eros non felis consequat.
    </p>
  </div>
</div>
<div class="container">
  <div class="grid specialties">
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('software.png') %>"/></div>
      <h3>Software Developer</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing.<br/>
        Duis vel nisi eu nisi placerat venenatis vitae at sapien.<br/>
        Mauris rutrum risus sapien, eu efficitur lacus bibendum nec.
      </p>
    </div>
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('graduate.png') %>"/></div>
      <h3>Software Engineer</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing.<br/>
        Duis vel nisi eu nisi placerat venenatis vitae at sapien.<br/>
        Mauris rutrum risus sapien, eu efficitur lacus bibendum nec.
      </p>
    </div>
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('website.png') %>"/></div>
      <h3>Web Developer</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing.<br/>
        Duis vel nisi eu nisi placerat venenatis vitae at sapien.<br/>
        Mauris rutrum risus sapien, eu efficitur lacus bibendum nec.
      </p>
    </div>
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('design.png') %>"/></div>
      <h3>Design</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing.<br/>
        Duis vel nisi eu nisi placerat venenatis vitae at sapien.<br/>
        Mauris rutrum risus sapien, eu efficitur lacus bibendum nec.
      </p>
    </div>
  </div>
</div>