<% content_for :headers do %>
    <%= javascript_include_tag 'jquery' %>
<% end %>
<div class="container">
  <h1 class="huge center">Hello World!<span>Pursuing my passion by developing software and websites.</span></h1>
</div>
<div class="young-background">
  <div class="container">
    <p class="center padded">
        I'm a young and aspiring entrepreneur with the passion to develop websites and software. At the age of 12,
        I created my first website, which sparked my passion! Since then, I've focused my learning on software and web
        development with the majority of my knowledge being self taught.
    </p>
  </div>
</div>
<div class="container">
  <div class="grid specialties">
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('graduate.png') %>"/></div>
      <h3>Software Engineer</h3>
      <p>
        I really enjoy engineering and architecting software frameworks and applications.
        I have a few frameworks I have developed which can be found on the projects page.
      </p>
    </div>
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('website.png') %>"/></div>
      <h3>Web Developer</h3>
      <p>
        I developed websites casually between 2010 and 2014, I then was hired by a
        web development company which has increased my ability to develop websites.
      </p>
    </div>
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('design.png') %>"/></div>
      <h3>Design</h3>
      <p>
        I believe I have a great eye for design, for example take this website
        that I have created from the ground up. I enjoy spending time perfecting user
        interfaces as well as user experience.
      </p>
    </div>
    <div class="quarter">
      <div class="circle"><img src="<%= image_url('coolguy.png') %>"/></div>
      <h3>Cool Dude</h3>
      <p>
        I like to think I'm cool dude, I enjoy the outdoors, occasionally the night life
        as well as riding my motorcycle around the curvy hills of Christchurch.
      </p>
    </div>
  </div>
</div>