<!DOCTYPE html>
<html>
<head>
  <title>CV</title>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag 'admin' %>
  <%= yield :headers %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="admin-panel">
      <div class="content">
        <h2 class="title">Admin Area<span>Francis Malloch-Boe</span></h2>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
